@model KWFCI.Models.ViewModels.MessageVM

@{
    ViewBag.Title = "Messages";
}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default" style="width:100%; height:100%;">
            <div class="panel-heading text-center">
                <button type="button" class="btn btn-success kwAddButton grab-url pull-left" 
                        data-toggle="modal" data-target="#newMessage"><i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                         New Email
                </button>               
                Sent Email
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Body</th>
                            <th>Date Sent</th>
                            <th>From</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Message m in Model.Messages)
                        {
                            <tr>
                                <th>@m.Subject</th>
                                <th>@m.Body</th>
                                <th>@m.DateSent</th>
                                <th>@m.From</th>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            </div>
        @Html.Partial("Modals/_AddMessageModal", Model.NewMessage)
            </div>
        </div>

        <style>
            table, tr, th {
                border: 1px solid black;
            }
        </style>
