@model HomeVM
@using KWFCI.Models.ViewModels
<div class="row">
    <div class="col-xs-12" style="text-align:center;">

        <h1>Welcome @ViewBag.Name</h1>
    </div>
</div>

@if (ViewBag.Alerts != null)
{
    if (ViewBag.Alerts.Count > 0)
    {
        <div class="row">
            <div class="col-xs-12" style="text-align:center;">
                @if (ViewBag.Alerts.Count > 1)
                {
                <h3><a href="@Url.Action("AllKWTasks", "KWTasks", new { filter = "Alert " + ViewBag.Name })">You have @ViewBag.Alerts.Count Alerts</a></h3>
                }
                else
                {
                    <h3><a href="@Url.Action("AllKWTasks", "KWTasks", new { filter = "Alert " + ViewBag.Name })">You have @ViewBag.Alerts.Count Alert</a></h3>

                }
             </div>
        </div>
    }
}
<div class="row" style="margin-top:30px;">
    <div class="col-xs-12">
        <div class="row">

            <div class="col-xs-5 col-xs-offset-1" style="padding-left:15px;">
                <div style="float:none;display:flex;justify-content:space-between;">
                    <a href="/Brokers" class="btn btn-success btn-md" style="height:100%;width:45%;">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        View Brokers
                    </a>
                    <a href="#" class="btn btn-success btn-md grab-url" data-toggle="modal" data-target="#newBroker" style="height:100%;width:45%; margin-right:23px;">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Add Broker
                    </a>
                </div>
            </div>
            <div class="col-xs-5" style="padding-left:15px;">
                <div style="float:none;display:flex;justify-content:space-between;">
                    <a class="btn btn-md btn-success grab-url" href="#" style="height:100%;width:45%;" data-target="#addKWTaskModal" data-toggle="modal">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Create Task
                    </a>
                    <a href="#" class="btn btn-success grab-url  btn-md" data-toggle="modal" data-target="#newMessage" style="height:100%;width:45%;margin-right:23px;">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Create Message
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="homepage-tasks">
    <div class="col-xs-5 col-xs-offset-1" style="text-align:center;">
        <div class="panel panel-default" style="width:96%; height:375px; margin-top:50px;">
            <div class="panel-heading text-center"><h2><a href="/Tasks?filter=@ViewBag.Name task">My Tasks</a></h2></div>
            <div class="panel-body">
                @Html.Partial("_HomePageTasks", Model.PersonalTasks)
            </div>
        </div>
    </div>

    <div class="col-xs-5" style="text-align:center;">
        <div class="panel panel-default" style="width:96%; height:375px; margin-top:50px;">
            <div class="pull-right panel-heading text-center" style="width:100%;"><h2><a href="/Tasks">All Tasks</a></h2></div>
            <div class="panel-body">
                @Html.Partial("_HomePageTasks", Model.GlobalTasks)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-10 col-xs-offset-1" style="text-align:center;">
        <div class="panel panel-default" style="width:100%; margin-top:30px;">
            <div class="panel-heading text-center" style="width:100%;"><h2>My Interactions</h2></div>
            <div class="panel-body">
                @Html.Partial("_StaffInteractions", new HomeStaffInteractionsVM() {Brokers = ViewBag.Brokers, PersonalInteractions = Model.PersonalInteractions })
                
            </div>
        </div>
    </div>
</div>

@Html.Partial("Modals/_AddBrokerModal", Model.NewBroker)    

@Html.Partial("Modals/_AddKWTaskModal", new KWTaskVM() { NewKWTask = Model.NewTask, StaffList=Model.StaffList })
@Html.Partial("Modals/_AddMessageModal", Model.NewMessage)