@model KWFCI.Models.ViewModels.BrokerVM

@{
    ViewBag.Title = "Brokers";
}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default" style="width:100%; height:100%;">
            <div class="panel-heading text-center">
                <span class="clearfix">
                    <button class="btn btn-success btn-sm kwAddButton pull-left grab-url" type="button" style="margin-top:10px; margin-bottom:10px; margin-left:20px;" data-toggle="modal" data-target="#newBroker">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Broker
                    </button>
                    <span class="h2Span">
                        All Brokers
                    </span>
                </span>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover editTable">
                    <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Name</th>
                            <th>Interactions</th>
                            <th>Email</th>
                            <th>Type</th>
                            <th>Notifications</th>
                            <th>Archive</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Broker b in Model.Brokers)
                        {
                            <tr class="broker-parentElem">
                                <td>
                                    <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#editBroker"
                                            data-id="@b.BrokerID">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </td>
                                <td class="broker-name">
                                    <a href="@Url.Action("BrokerInteractions", "Interactions", b)">
                                        @b.FirstName @b.LastName
                                    </a>
                                </td>
                                <td>@b.Interactions.Count/10</td>

                                <td class="broker-email">
                                    @b.Email
                                <input type="hidden" class="broker-status" value="@b.Status" />
                            </td>
                            <td class="broker-type">@b.Type</td>
                            @if (b.EmailNotifications == true)
                            {
                                <td class="broker-notifications">Yes</td>
                            }
                            else
                            {
                                <td class="broker-notifications">No</td>
                            }
                            <td>
                                <form asp-action="Archive" asp-route-id="@b.BrokerID" method="post">
                                    <button type="submit"
                                            class="btn btn-sm btn-danger center-block">
                                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        
        @Html.Partial("Modals/_EditBrokerModal", Model.NewBroker)
        @Html.Partial("Modals/_AddBrokerModal", Model.NewBroker)
    </div>
</div>

<style>
    table, tr, th {
        border: 1px solid black;
    }
</style>
